@font-face {
  font-family: 'KOTRA_BOLD-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 18px;
}

body {
  margin: 0 0 5vh 0;
  background-color: whitesmoke;
  font-family: 'KOTRA_BOLD-Bold';
}

.container {
  margin: 0 15vw;
  padding: 10px 20px;
}
